<mat-tab-group dynamicHeight animationDuration="0ms">
  <mat-tab label="Table 1">
    <ng-template matTabContent>
      <!-- 1st Table -->
      <!-- Can expand rows -->
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef scope="col"> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-symbol"> {{element.symbol}} </div>
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-weight"> {{element.weight}} </div>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <span class="example-element-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let element; columns: columns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 2">
    <ng-template matTabContent>
      <!-- 2nd Table-->
      <!-- Basic <mat-table> (uses display flex)-->
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </mat-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 3">
    <ng-template matTabContent>
      <!-- 3rd Table-->
      <!-- Has a basic footer -->
      <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef scope="col"> Item </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef scope="col"> Cost </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 4">
    <ng-template matTabContent>
      <!-- 4th Table -->
      <!-- Has reorderable columns -->
      <table mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">
        <caption>This is an example table of the periodic table of elements.</caption>

        <ng-container matColumnDef="position">
          <th mat-header-cell cdkDrag *matHeaderCellDef class="MoveableColumnHeader" scope="col"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell cdkDrag *matHeaderCellDef class="MoveableColumnHeader" scope="col"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell cdkDrag *matHeaderCellDef class="MoveableColumnHeader" scope="col"> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell cdkDrag *matHeaderCellDef class="MoveableColumnHeader" scope="col"> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 5">
    <ng-template matTabContent>
      <button mat-raised-button (click)="shuffle()" color="warn"> Shuffle </button>
      <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>
        <ng-container [matColumnDef]="column" *ngFor="let column of columns">
          <th mat-header-cell *matHeaderCellDef scope="col"> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 6">
    <ng-template matTabContent>
      <table mat-table [dataSource]="dataContext" class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>
        <ng-container matColumnDef="$implicit">
          <th mat-header-cell *matHeaderCellDef scope="col"> $implicit </th>
          <td mat-cell *matCellDef="let data"> {{data}} </td>
        </ng-container>

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> index </th>
          <td mat-cell *matCellDef="let index = index" scope="col"> {{index}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef scope="col"> count </th>
          <td mat-cell *matCellDef="let count = count"> {{count}} </td>
        </ng-container>

        <ng-container matColumnDef="first">
          <th mat-header-cell *matHeaderCellDef scope="col"> first </th>
          <td mat-cell *matCellDef="let first = first"> {{first}} </td>
        </ng-container>

        <ng-container matColumnDef="last">
          <th mat-header-cell *matHeaderCellDef scope="col"> last </th>
          <td mat-cell *matCellDef="let last = last"> {{last}} </td>
        </ng-container>

        <ng-container matColumnDef="even">
          <th mat-header-cell *matHeaderCellDef scope="col"> even </th>
          <td mat-cell *matCellDef="let even = even"> {{even}} </td>
        </ng-container>

        <ng-container matColumnDef="odd">
          <th mat-header-cell *matHeaderCellDef scope="col"> odd </th>
          <td mat-cell *matCellDef="let odd = odd"> {{odd}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsContext"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsContext;"></tr>
      </table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Table 7">
    <ng-template matTabContent>
      <table mat-table [dataSource]="dataSourceSort" matSort class="mat-elevation-z8">
        <caption>This is an example table of the periodic table of elements.</caption>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </ng-template>
  </mat-tab>
</mat-tab-group>