<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width">
        <caption>This is a table inside a form used to login.</caption>
        <th id="Login">{{ 'LOGIN.login' | translate }}</th>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'LOGIN.username' | translate }}" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'LOGIN.password' | translate }}" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="warn">{{ 'LOGIN.login' | translate }}</button>
  </mat-card-actions>
</mat-card>